<div class="content mt-5">
  <form [formGroup]="newsForm" (ngSubmit)="createNews()" autocomplete="off">
    <!-- title -->
    <mat-form-field appearance="outline">
      <mat-label>title: </mat-label>
      <textarea
        class="overflow-hidden"
        cdkTextareaAutosize
        matInput
        type="text"
        formControlName="title"
        #title
      ></textarea>
      <mat-hint
        class="error"
        *ngIf="
          newsForm.get('title').touched &&
          newsForm.get('title').errors?.required
        "
        >Write a title
      </mat-hint>
      <mat-hint class="error" *ngIf="newsForm.get('title').errors?.minlength">
        Title must be larger
        {{ newsForm.get("title").errors?.minlength.requiredLength }}
      </mat-hint>
      <mat-hint class="error" *ngIf="newsForm.get('title').errors?.maxlength">
        Title must be less
        {{ newsForm.get("title").errors?.maxlength.requiredLength }}
      </mat-hint>

      <mat-hint align="end">{{ title.value.length }} / 120max</mat-hint>
    </mat-form-field>

    <!-- description -->
    <mat-form-field appearance="outline">
      <mat-label>description: </mat-label>
      <textarea
        class="overflow-hidden"
        cdkTextareaAutosize
        cdkAutosizeMinRows="4"
        matInput
        type="text"
        formControlName="description"
        #description
      ></textarea>

      <mat-hint
        class="error"
        *ngIf="
          newsForm.get('description').touched &&
          newsForm.get('description').errors?.required
        "
        >Write a description
      </mat-hint>
      <mat-hint
        class="error"
        *ngIf="newsForm.get('description').errors?.minlength"
      >
        Title must be larger
        {{ newsForm.get("description").errors?.minlength.requiredLength }}
      </mat-hint>
      <mat-hint
        class="error"
        *ngIf="newsForm.get('description').errors?.maxlength"
      >
        description must be less
        {{ newsForm.get("description").errors.maxlength?.requiredLength }}
      </mat-hint>
      <mat-hint align="end">{{ description.value.length }} / 256max</mat-hint>
    </mat-form-field>

    <!-- imageUrl -->
    <mat-form-field appearance="outline">
      <mat-label>imageUrl: </mat-label>
      <textarea
        class="overflow-hidden"
        cdkTextareaAutosize
        matInput
        type="text"
        formControlName="imageUrl"
      ></textarea>
      <mat-hint
        class="error"
        *ngIf="
          newsForm.get('imageUrl').touched &&
          newsForm.get('imageUrl').errors?.required
        "
        >Write a content
      </mat-hint>
    </mat-form-field>

    <!-- content -->
    <mat-form-field appearance="outline">
      <mat-label>content: </mat-label>
      <textarea
        class="overflow-hidden"
        cdkTextareaAutosize
        cdkAutosizeMinRows="8"
        matInput
        type="text"
        formControlName="content"
        #content
      ></textarea>
      <mat-hint
        class="error"
        *ngIf="
          newsForm.get('content').touched &&
          newsForm.get('content').errors?.required
        "
        >Write a content
      </mat-hint>
      <mat-hint class="error" *ngIf="newsForm.get('content').errors?.minlength">
        content must be larger
        {{ newsForm.get("content").errors?.minlength.requiredLength }}
      </mat-hint>
      <mat-hint align="end">{{ content.value.length }} / 256min</mat-hint>
    </mat-form-field>

    <button mat-button color="primary" type="submit" [disabled]="disabled">
      create
    </button>
  </form>
</div>
