<div class="d-flex justify-content-around">
  <button mat-flat-button routerLink="create-news">Create news</button>

  <button mat-flat-button routerLink="lazy-loading-news">lazy loading</button>

  <button mat-flat-button routerLink="pagination">pagination</button>
</div>

<div class="my-5">
  <router-outlet></router-outlet>
</div>
