mat-card {
  border-radius: 8px;

  mat-card-header {
    margin: 0px -16px !important;
  }
}

.loader {
  display: flex;
  justify-content: center;
}

.up_page:hover {
  background: #ecf0f1;
}

.row {
  margin-right: 0px !important;
}
