<div *ngIf="newsFeed.length; else loading">
  <div class="row">
    <div class="col-md-1 up_page" (click)="onUpPage()">
      <span
        class="position-sticky d-flex justify-content-center"
        style="top: 20px;"
      >
        &#9757; Go up</span
      >
    </div>
    <div class="col-md-3"></div>

    <div class="col-md-4" #newsHeightEl>
      <mat-card class="my-5" *ngFor="let news of newsFeed">
        <mat-card-header>
          <mat-card-title>{{ news.title }}</mat-card-title>
          <mat-card-subtitle>{{ news.id }}</mat-card-subtitle>
        </mat-card-header>

        <img
          mat-card-image
          src="https://picsum.photos/450/450"
          alt="You photo"
        />
        <mat-card-content>
          <p>
            {{ news.body }}
          </p>
        </mat-card-content>
      </mat-card>

      <div *ngIf="loaded" class="loader">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<ng-template #loading>
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
