<div *ngIf="newsFeed.length; else loading">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <mat-card class="my-5" *ngFor="let news of newsFeed">
          <mat-card-header>
            <mat-card-title>{{ news.title }}</mat-card-title>
            <mat-card-subtitle>{{ news.id }}</mat-card-subtitle>
          </mat-card-header>

          <img
            mat-card-image
            src="https://picsum.photos/450/450"
            alt="You photo"
          />
          <mat-card-content>
            <p>
              {{ news.description }}
            </p>
          </mat-card-content>
        </mat-card>

        <mat-paginator
          *ngIf="loaded; else loading"
          [length]="newsLength"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="news($event)"
        >
        </mat-paginator>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
