@import "~@angular/material/theming";

@include mat-core();

$news-primary: mat-palette($mat-indigo);
$news-accent: mat-palette($mat-pink, A200, A100, A400);
$news-warn: mat-palette($mat-red);

$news-theme: mat-light-theme($news-primary, $news-accent, $news-warn);

@include angular-material-theme($news-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
  color: #f44336;
}
